<!DOCTYPE html>
<html lang="en">
<title>HOME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Principal Home</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
  </div>


<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:40px 16px">
  <h1 class="w3-margin w3-jumbo">PRINCIPAL HOME</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
    <form action="" method="POST">
            {% csrf_token %}
        <h2>Add Teacher :</h2>
        <input type="text" name="addteacher" hidden>
        Teacher Name : <input type="text" name="username" id=""><br><br>
        Password : <input type="password" name="password" id=""><br><br>
        Subject : 
        <select name="subject">
            <option value="phy">Physics</option>
            <option value="chem">Chemistry</option>
            <option value="math">Math</option>
            <option value="comp">Computer</option>
            <option value="eng">English</option>
        </select>
        <button type="submit">Add Teacher</button>
    </form>
    <form action="" method="POST">
        {% csrf_token %}
        <h2>Remove Teacher :</h2>
        <input type="text" name="removeteacher" hidden>
        Choose Teacher to be removed : 
        <select name="teacherid">
            {% for teacher in teachers %}
                <option value={{teacher.teacher.id}}>{{teacher.teacher.username}}</option>
            {% endfor %}
        </select>
        <button type="submit">Remove Teacher</button>
    </form>



    
  </div>
</div>

<script>

</script>

</body>
</html>
